<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
    body{background-color: grey;}
    </style>
</head>
<body>
    <header>
        <div id="logo"></div>
        <div id="slogen"></div>
        </header>
        <nav>
        <a href="/">main</a>
        |
        <a href="about.ejs">about</a>
        |
        <a href="/Login">login page</a>
        </nav>
        <main>
        This is not my site