<!DOCTYPE html>
<html>
  <head>
    <title>Socket.io Room Example</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      function joinRoom() {
        var roomName = document.getElementById("roomName").value;
        socket.emit("joinRoom", roomName);
      }

      socket.on("roomJoined", function(roomName) {
        console.log("Joined room: " + roomName);
        window.location="game?room="+roomName;
      });
    </script>
  </head>
  <body>
    <h1>Socket.io Room Example</h1>

    <p>Enter a room name:</p>
    <input type="text" id="roomName">
    <br><br>
    <button onclick="joinRoom()">Join Room</button>
  </body>
</html>
